<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011 Everit Kft. (http://www.everit.org)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
    <!-- extend project explorer -->
    <extension
          point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
            <contentExtension pattern="org.everit.e4.eosgi.plugin.ui.navigator.dist" />
          </includes>
      </viewerContentBinding>
    </extension>
    
    <!-- define content provider for eosgi IProject -->
    <extension
          id="org.everit.e4.eosgi.plugin.ui.navigator"
          point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
          id="org.everit.e4.eosgi.plugin.ui.navigator.dist"
          name="Everit OSGi context"
          activeByDefault="true"
          icon="icons/everit.gif"
          priority="normal"
          contentProvider="org.everit.e4.eosgi.plugin.ui.navigator.DistContentProvider"
          labelProvider="org.everit.e4.eosgi.plugin.ui.navigator.DistLabelProvider">
          <triggerPoints>
             <or>
               <instanceof
                   value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                  value="org.everit.e4.eosgi.plugin.ui.navigator.model.AbstractNode">
                </instanceof>
             </or>
            </triggerPoints>
            <possibleChildren>
              <or>
                <instanceof
                  value="org.everit.e4.eosgi.plugin.ui.navigator.model.AbstractNode">
                </instanceof>
              </or>
            </possibleChildren>
        </navigatorContent>
    </extension>
    
    <extension
      point="org.eclipse.ui.ide.projectNatureImages"
      name="Bundle project nature image">
      <image
        id="org.everit.e4.eosgi.plugin.ui.projectNatureImages.eosgiNatureImage"
        natureId="org.everit.e4.eosgi.plugin.ui.natures.eosgi"
        icon="icons/everit_8_8.gif">
      </image>
    </extension>

    <!--m2e staffs -->   
    <extension
        point="org.eclipse.m2e.core.projectConfigurators">
        <configurator
            class="org.everit.e4.eosgi.plugin.core.m2e.EosgiDistProjectConfigurator"
            id="org.everit.e4.eosgi.plugin.m2e.eosgiDistProjectConfigurator"
            name="Project configurator for EOSGI dist projects.">
        </configurator>
    </extension>
    
    <extension
        point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
    
    <!-- menu staffs -->
    <extension
      point="org.eclipse.ui.menus"
      id="org.everit.e4.eosgi.plugin.ui.menus"
      name="eosgiMenus">
      <menuContribution
        locationURI="popup:org.eclipse.ui.popup.any"
        allPopups="false">
        <command
          commandId="org.everit.e4.eosgi.plugin.ui.command.create"
          label="Create distribution">
          <visibleWhen>
            <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command
          commandId="org.everit.e4.eosgi.plugin.ui.command.refresh"
          label="Refresh distribution">
          <visibleWhen>
            <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command
          commandId="org.everit.e4.eosgi.plugin.ui.command.start"
          label="Start">
          <visibleWhen>
            <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command
          commandId="org.everit.e4.eosgi.plugin.ui.command.debug"
          label="Debug">
          <visibleWhen>
            <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command
          commandId="org.everit.e4.eosgi.plugin.ui.command.update"
          label="Refresh">
          <visibleWhen>
            <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command
          commandId="org.everit.e4.eosgi.plugin.ui.command.showLog"
          label="Show log">
          <visibleWhen>
            <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
              </iterate>
            </with>
          </visibleWhen>
        </command>
        <command
          commandId="org.everit.e4.eosgi.plugin.ui.command.stop"
          label="Stop">
          <visibleWhen>
            <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
              </iterate>
            </with>
          </visibleWhen>
        </command>
      </menuContribution>
    </extension>

    <extension
      id="org.everit.e4.eosgi.plugin.ui.command"
      point="org.eclipse.ui.commands">
      <command
        id="org.everit.e4.eosgi.plugin.ui.command.start"
        name="startCommand">
      </command>
      <command
        id="org.everit.e4.eosgi.plugin.ui.command.stop"
        name="stopCommand">
      </command>
      <command
        id="org.everit.e4.eosgi.plugin.ui.command.create"
        name="distComand">
      </command>
    </extension>
    
    <extension
      id="org.everit.e4.eosgi.plugin.ui.natures.eosgi"
      point="org.eclipse.core.resources.natures"
      name="Eosgi Dist Nature">
      <runtime>
        <run class="org.everit.e4.eosgi.plugin.ui.nature.EosgiNature" />
      </runtime>
    </extension>
    
    <extension
      point="org.eclipse.ui.handlers">
      <handler
        commandId="org.everit.e4.eosgi.plugin.ui.command.create"
        class="org.everit.e4.eosgi.plugin.ui.command.CreateDistHandler">
        <enabledWhen>
          <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
                <or>
                  <test property="org.everit.e4.eosgi.plugin.properties.distStatus" value="NONE"/>
                  <test property="org.everit.e4.eosgi.plugin.properties.distStatus" value="STOPPED"/>
                  <test property="org.everit.e4.eosgi.plugin.properties.distStatus" value="RUNNING"/>
                </or>
              </iterate>
          </with>
        </enabledWhen>
      </handler>
      <handler
        commandId="org.everit.e4.eosgi.plugin.ui.command.start"
        class="org.everit.e4.eosgi.plugin.ui.command.StartDistHandler">
        <enabledWhen>
          <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
                <test property="org.everit.e4.eosgi.plugin.properties.distStatus" value="STOPPED"/>
              </iterate>
          </with>
        </enabledWhen>
      </handler>
      <handler
        commandId="org.everit.e4.eosgi.plugin.ui.command.debug"
        class="org.everit.e4.eosgi.plugin.ui.command.StartDistHandler">
        <enabledWhen>
          <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
                <test property="org.everit.e4.eosgi.plugin.properties.distStatus" value="STOPPED"/>
              </iterate>
          </with>
        </enabledWhen>
      </handler>
      <handler
        commandId="org.everit.e4.eosgi.plugin.ui.command.stop"
        class="org.everit.e4.eosgi.plugin.ui.command.StopDistHandler">
        <enabledWhen>
          <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode" />
                <test property="org.everit.e4.eosgi.plugin.properties.distStatus" value="RUNNING"/>
              </iterate>
          </with>
        </enabledWhen>
      </handler>
    </extension>

    <extension
      point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
        id="org.everit.e4.eosgi.plugin.propertyTester.environmentNode"
        type="org.everit.e4.eosgi.plugin.ui.navigator.nodes.EnvironmentNode"
        namespace="org.everit.e4.eosgi.plugin.properties"
        properties="distStatus"
        class="org.everit.e4.eosgi.plugin.ui.command.EnvironmentNodePropertyTester">
      </propertyTester>
    </extension>

</plugin>
