<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011 Everit Kft. (http://www.everit.org)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
    <!-- extend project explorer -->
    <extension
          point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
            <contentExtension pattern="org.everit.osgi.dev.e4.plugin.ui.navigator.dist" />
          </includes>
      </viewerContentBinding>
    </extension>
    
    <!-- define content provider for eosgi IProject -->
    <extension
          id="org.everit.osgi.dev.e4.plugin.ui.navigator"
          point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
              activeByDefault="true"
              appearsBefore="org.eclipse.jdt.java.ui.javaContent"
              contentProvider="org.everit.osgi.dev.e4.plugin.ui.navigator.DistContentProvider"
              icon="icons/everit.gif"
              id="org.everit.osgi.dev.e4.plugin.ui.navigator.dist"
              labelProvider="org.everit.osgi.dev.e4.plugin.ui.navigator.DistLabelProvider"
              name="%navigatorContent.everitOsgiContext"
              priority="normal">
          <triggerPoints>
             <or>
               <instanceof
                   value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                  value="org.everit.osgi.dev.e4.plugin.ui.navigator.nodes.AbstractNode">
                </instanceof>
             </or>
            </triggerPoints>
            <possibleChildren>
              <or>
                <instanceof
                  value="org.everit.osgi.dev.e4.plugin.ui.navigator.nodes.AbstractNode">
                </instanceof>
              </or>
            </possibleChildren>
        </navigatorContent>
    </extension>
    

    <!--m2e staffs -->   
    
    <extension
        point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
    
    <!-- menu staffs -->
    <extension
      point="org.eclipse.ui.menus"
      id="org.everit.osgi.dev.e4.plugin.ui.menus"
      name="eosgiMenus">
      <menuContribution
        locationURI="popup:org.eclipse.ui.popup.any"
        allPopups="false">
        <command
          commandId="org.everit.osgi.dev.e4.plugin.ui.command.create"
          label="%command.createDistribution">
          <visibleWhen>
            <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.osgi.dev.e4.plugin.ui.navigator.nodes.EnvironmentNode" />
              </iterate>
            </with>
          </visibleWhen>
        </command>
      </menuContribution>
    </extension>

    <extension
      id="org.everit.osgi.dev.e4.plugin.ui.command"
      point="org.eclipse.ui.commands">
      <command
        id="org.everit.osgi.dev.e4.plugin.ui.command.create"
        name="distCommand">
      </command>
    </extension>
    
    <extension
      id="org.everit.osgi.dev.e4.plugin.EOSGiNature"
      point="org.eclipse.core.resources.natures"
      name="%name.eosgiDistNature">
      <runtime>
        <run class="org.everit.osgi.dev.e4.plugin.EOSGiNature" />
      </runtime>
    </extension>
    
    <extension
      point="org.eclipse.ui.handlers">
      <handler
        commandId="org.everit.osgi.dev.e4.plugin.ui.command.create"
        class="org.everit.osgi.dev.e4.plugin.ui.command.CreateDistHandler">
        <enabledWhen>
          <with variable="selection">
              <iterate ifEmpty="false">
                <instanceof value="org.everit.osgi.dev.e4.plugin.ui.navigator.nodes.EnvironmentNode" />
                <!--
                <or>
                  <test property="org.everit.osgi.dev.e4.plugin.properties.distStatus" value="NONE"/>
                  <test property="org.everit.osgi.dev.e4.plugin.properties.distStatus" value="STOPPED"/>
                  <test property="org.everit.osgi.dev.e4.plugin.properties.distStatus" value="RUNNING"/>
                </or>
                -->
              </iterate>
          </with>
        </enabledWhen>
      </handler>
    </extension>

  <!-- Own launch config type for EOSGi dists -->
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
         delegate="org.everit.osgi.dev.e4.plugin.core.launcher.EOSGILaunchConfigurationDelegate"
         id="org.everit.osgi.dev.e4.plugin.core.launcher.launchConfigurationType"
         modes="run,debug"
         name="%name.eosgiLaunchConfiguration"
         public="true"
         sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"/>
  </extension>
  
  <!-- Icon for EOSGi launcher type -->
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      id="org.everit.osgi.dev.e4.plugin.server.launchConfigurationTypeImage"
      configTypeID="org.everit.osgi.dev.e4.plugin.server.launchConfigurationType"
      icon="icons/everit.gif">
    </launchConfigurationTypeImage>
  </extension>

  <!-- TabGroups for EOSGi laucher configuration -->
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      id="org.everit.osgi.dev.e4.plugin.ui.launcher.launchConfigurationTabGroup"
      type="org.everit.osgi.dev.e4.plugin.core.launcher.launchConfigurationType"
      class="org.everit.osgi.dev.e4.plugin.ui.launcher.LaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.m2e.core.mavenProjectChangedListeners">
     <listener
           class="org.everit.osgi.dev.e4.plugin.m2e.EOSGiMavenProjectChangeListener">
     </listener>
  </extension>
  <extension
        point="org.eclipse.m2e.core.projectConfigurators">
     <configurator
           class="org.everit.osgi.dev.e4.plugin.m2e.EOSGiM2EProjectConfigurator"
           id="org.everit.osgi.dev.e4.plugin.m2e.EOSGiM2EProjectConfigurator"
           name="EOSGi Maven Project Configurator">
     </configurator>
  </extension>
</plugin>
